<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="sqlString" connectionString="server=.;database=MyTest;uid=sa;pwd=sa;"/>
  </connectionStrings>
  <appSettings>
    <add  key="Service" value="YY.BLL.UserServiceBLL,YY.BLL"/>
    <add  key="Rate" value="0.002,0.005,0.003"/>

  </appSettings>
</configuration>