<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="namespace" value="Model"/>
    <add key="sqlConn" value="Server=.; DataBase=MyTest; User ID=sa; Password=sa;"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
</configuration>